@page
@model web.HES.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
    ViewData["ActivePage"] = ManageNavPages.Users;
}

<h1>Users</h1>

<div class="d-flex">
    <form method="get">
        <button type="submit" class="btn btn-primary mt-2 mb-2 mr-2" asp-page="Create">Create New</button>
    </form>

    <div class="input-group mt-2 mb-2 mr-2 w-25">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input id="searchbox" type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
</div>

<table id="users" class="display table table-bordered table-hover table-responsive" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Email)
            </th>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.Users.First().UserName)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Users.First().PhoneNumber)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Users.First().LockoutEnabled)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Users.First().LockoutEnd)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Users.First().AccessFailedCount)
            </th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="col-3">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.LockoutEnd)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td class="col-1">
                    @*
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    *@
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-black-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row align-items-center">
    <div class="col d-flex justify-content-start">
        <span class=" d-flex align-items-center m-1">Show entries</span>
        <div id="newEntriesPlace"></div>
    </div>
    <div id="newShowingPlace" class="col d-flex justify-content-center"></div>
    <div id="newPaginationPlace" class="col d-flex justify-content-end"></div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            // Init DT
            $('#users').DataTable();
            // Override search box
            $('.dataTables_filter').addClass('d-none');
            var dataTable = $('#users').dataTable();
            $('#searchbox').keyup(function () {
                dataTable.fnFilter(this.value);
            });
            // Length
            $('#users_length').addClass('d-none');
            $('#newEntriesPlace').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
            // Info
            $('#newShowingPlace').html($('.dataTables_info'));
            // Paginate
            $('#newPaginationPlace').html($('.dataTables_paginate'));
        });
    </script>
}