@page
@model HES.Web.Pages.Templates.IndexModel

@{
    ViewData["Title"] = "Templates";
    ViewData["ActivePage"] = MenuNavPages.Templates;
}

<partial name="_SuccessMessage" for="SuccessMessage" />
<partial name="_ErrorMessage" for="ErrorMessage" />

@* Top table items *@
<div class="row align-items-center mr-0">
    <div class="col">
        <h1 class="text-navyblue">Templates</h1>
    </div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="" data-action="CreateTemplate" data-title="Create template">
            Create template
        </button>
    </div>
</div>

<table id="templates" class="display table table-hover border rounded w-100">
    <thead>
        <tr>
            <th class="d-none"></th>
            <th data-priority="1">
                @Html.DisplayNameFor(model => model.Templates[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Templates[0].Urls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Templates[0].Apps)
            </th>
            <th class="table-col-menu" data-priority="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Templates)
        {
            <tr>
                <td class="d-none"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="white-space: normal">
                    @{
                        if (item.Urls != null)
                        {
                            foreach (var url in item.Urls.Split(';'))
                            {
                                <span style="white-space: pre-line">@url</span>
                            }
                        }
                    }
                </td>
                <td style="white-space: normal">
                    @{
                        if (item.Apps != null)
                        {
                            foreach (var app in item.Apps.Split(';'))
                            {
                                <span style="white-space: pre-line">@app</span>
                            }
                        }
                    }
                </td>
                <td>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/svg/action/more.svg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="EditTemplate" data-title="Edit template">
                                <img src="~/svg/action/edit.svg" />
                                Edit
                            </a>
                            <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="DeleteTemplate" data-title="Delete template">
                                <img src="~/svg/action/delete.svg" />
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // Init DataTables
        var table_name = '#templates';
        $(table_name).DataTable({
            responsive: true,
            "order": [[1, "asc"]],
            "columnDefs": [
                { "orderable": false, "targets": [0, 4] }
            ]
        });
        var dataTable = $(table_name).dataTable();
        // Search box
        $('#searchbox').keyup(function () {
            dataTable.fnFilter(this.value);
        });
        $('.dataTables_filter').addClass('d-none');
        // Length
        $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
        $('.dataTables_length').addClass('d-none');
        // Info
        $('#showing_place').html($('.dataTables_info'));
        // Paginate
        $('#pagination_place').html($('.dataTables_paginate'));

        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $('#modalDialogTitle').html(title);
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Templates?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');        
                }
            });
        });

        // Clear content on modal hide
        $('#modalDialog').on('hidden.bs.modal', function (e) {
            $("#modalBody").html("<div class='d-flex justify-content-center align-items-center'><div class='spinner-grow text-primary' style='width: 3rem; height: 3rem;' role='status'><span class='sr-only'></span></div></div>");
        })

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Templates</li>');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}