<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HES</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- DataTables CSS -->
    <link href="~/lib/datatebles/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Tags CSS -->
    <link href="~/lib/tagsinput/jquery-tagsinput.min.css" rel="stylesheet" />
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/icon.css" />
</head>
<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="custom-sidebar">
            <partial name="_MenuManageNav" />
        </div>
        <!-- Content -->
        <div class="d-flex flex-column custom-main">
            <!-- Nav bar -->
            <nav class="navbar navbar-expand navbar-light bg-white border-bottom box-shadow">
                <img src="~/svg/action/menu.svg" />
                @*<breadcrumb></breadcrumb>*@
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item no-arrow">
                        <a class="nav-link text-dark dropdown-toggle d-inline-flex" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-1">@User.Identity.Name</span>
                            <img src="~/svg/account/round-account_circle.svg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <img src="~/svg/account/round-person.svg" />
                                Profile
                            </a>
                            <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark p-0" style="text-decoration: none;">
                                    <img src="~/svg/account/round-power-off.svg" />
                                    Logout
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- Main -->
            <div class="custom-content p-4">
                <partial name="_SpinnerPartial" />
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- DataTebles JS -->
    <script src="~/lib/datatebles/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatebles/dataTables.bootstrap4.min.js"></script>
    <!-- Tags JS -->
    <script src="~/lib/tagsinput/jquery-tagsinput.min.js"></script>
    <!-- Bootstrap custom file input JS -->
    <script src="~/lib/bs-custom-file-input/bs-custom-file-input.js"></script>
    <!-- Main JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
