@page
@model HES.Web.Pages.Notifications.IndexModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .table th, .table td {
        vertical-align: middle;
    }

    tr td:first-child {
        width: 1%;
        white-space: nowrap;
    }

    tr td:last-child {
        width: 1%;
        white-space: nowrap;
    }
</style>

<h1 class="text-navyblue">Notifications</h1>

@if (Model.Notifications.Count > 0)
{
    <table id="notifications" class="table table-hover border rounded w-100">
        <thead>
            <tr>
                <th style="width:160px">
                    @Html.DisplayNameFor(model => model.Notifications[0].CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notifications[0].Message)
                </th>
                <th style="width:50px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Notifications)
            {
                <tr>
                    <td>
                        @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.CreatedAt, TimeZoneInfo.Local)
                    </td>
                    <td class="text-wrap">
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td class="p-2">
                        <a asp-area="" asp-page="@item.Url">
                            <img src="~/svg/action/open_in_new.svg" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <hr />
    <h5>No messages</h5>
}