@model HES.Web.Pages.Devices.IndexModel

<div class="row align-items-center mr-0">
    <div class="col-auto">
        <h1 class="text-navyblue">Devices</h1>
    </div>
    <div class="col-auto d-none" id="loading"></div>
    <div class="col">
        <button id="btnProfile" class="btn btn-primary d-none open-modal-dialog" data-id="" data-action="SetProfile" data-title="Set profile">
            Set profile
        </button>
    </div>
    <div class="col-auto">
        <button class="btn btn-light p-0" data-toggle="collapse" data-target="#filter-collapse" title="Filter">
            <img style="width:32px;height:32px;" src="~/svg/action/filter.svg" />
        </button>
    </div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="col-auto p-1">
        <a class="btn btn-primary" asp-page="Import">Import</a>
    </div>
</div>

<table id="devices" class="display table table-hover border rounded w-100">
    <thead>
        <tr>
            <th style="width:1px;">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox_all">
                    <label class="custom-control-label" for="checkbox_all"></label>
                </div>
            </th>
            <th data-priority="1">
                @Html.DisplayNameFor(model => model.Devices[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].MAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].RFID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Battery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Firmware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].DeviceAccessProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].LastSynced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Employee.EmpCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Employee.EmpDepartment)
            </th>
            <th class="table-col-menu" data-priority="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Devices)
        {
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input table-checkbox" id="@item.Id">
                        <label class="custom-control-label" for="@item.Id"></label>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RFID)
                </td>
                <td data-sort="@item.Battery">
                    @if (item.Battery >= 30)
                    {
                        <img src="~/svg/device/battery_full.svg" alt="@item.Battery" />
                        <span>@item.Battery%</span>
                    }
                    else if (item.Battery >= 15 && item.Battery <= 30)
                    {
                        <img src="~/svg/device/battery_30.svg" alt="@item.Battery" />
                        <span>@item.Battery%</span>
                    }
                    else
                    {
                        <img src="~/svg/device/battery_15.svg" alt="@item.Battery" />
                        <span>@item.Battery%</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firmware)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceAccessProfile.Name)
                </td>
                <td>
                    @switch (item.State)
                    {
                        case Core.Entities.DeviceState.OK:
                            @if (item.IsOnline)
                            {
                                <span class="badge badge-success" title="Device is connected">Connected</span>
                            }
                            else
                            {
                                <span class="badge badge-light">@Html.DisplayFor(modelItem => item.State)</span>
                            }
                            break;
                        case Core.Entities.DeviceState.Locked:
                            <span class="badge badge-danger">@Html.DisplayFor(modelItem => item.State)</span>
                            break;
                        case Core.Entities.DeviceState.PendingUnlock:
                            <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.State)</span>
                            break;
                        case Core.Entities.DeviceState.Disabled:
                            <span class="badge badge-dark">@Html.DisplayFor(modelItem => item.State)</span>
                            break;
                        case Core.Entities.DeviceState.Error:
                            <span class="badge badge-danger">@Html.DisplayFor(modelItem => item.State)</span>
                            break;
                    }
                </td>
                <td>
                    @if (item.LastSynced != null)
                    {
                        <span class="d-none">@TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.LastSynced, TimeZoneInfo.Local).Ticks</span>
                        @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.LastSynced, TimeZoneInfo.Local)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmpCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmpDepartment)
                </td>
                <td>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/svg/action/more.svg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="EditDeviceRfid" data-title="Edit device RFID">
                                <img src="~/svg/action/edit.svg" />
                                Edit RFID
                            </a>
                            @if (item.State == Core.Entities.DeviceState.Locked)
                            {
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="UnlockPin" data-title="Unlock PIN">
                                    <img src="~/svg/action/unlock.svg" />
                                    Unlock PIN
                                </a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

<script src="~/js/dt-init-devices.js" asp-append-version="true"></script>