@model HES.Web.Pages.Workstations.DetailsModel

<div class="row">
    <div class="col">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="devices_searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<form id="add_device" method="post">
    <input type="hidden" asp-for="Workstation.Id" name="workstationId" />
    <table id="devices" class="display table table-hover inside-scrollbar w-100">
        <thead>
            <tr>
                <th class="table-col-menu">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox_all">
                        <label class="custom-control-label" for="checkbox_all"></label>
                    </div>
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Devices.FirstOrDefault().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Devices.FirstOrDefault().EmployeeFullName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model.Devices)
            {
                <tr>
                    <td class="table-col-menu">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="selectedDevices" id="@device.Id" value="@device.Id">
                            <label class="custom-control-label" for="@device.Id"></label>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => device.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => device.EmployeeFullName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Allow BLE
            <div class="custom-control custom-switch">
                <input asp-for="WorkstationBinding.AllowBleTap" type="checkbox" class="custom-control-input" id="allowBle" name="allowBleTap" value="true" checked>
                <label class="custom-control-label" for="allowBle"></label>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Allow RFID
            <div class="custom-control custom-switch">
                <input asp-for="WorkstationBinding.AllowRfid" type="checkbox" class="custom-control-input" id="allowRfid" name="allowRfid" value="true">
                <label class="custom-control-label" for="allowRfid"></label>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Allow proximity
            <div class="custom-control custom-switch">
                <input asp-for="WorkstationBinding.AllowProximity" type="checkbox" class="custom-control-input" id="allowProximity" name="allowProximity" value="true">
                <label class="custom-control-label" for="allowProximity"></label>
            </div>
        </li>
    </ul>
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="AddDevice" />
    </div>
</form>
<script>
    // Initialize devices table
    var table_name = '#devices';
    var device_table = $(table_name).DataTable({
        "order": [[1, "asc"]],
        "columnDefs": [
            { "orderable": false, "targets": 0 }
        ],
        "lengthMenu": [[5], [5]],
        "scrollY": "246px",
        "paging": false,
        "bInfo": false,
        "bLengthChange": false,
    });
    var dataTable = $(table_name).dataTable();
    // Search box
    $('#devices_searchbox').keyup(function () {
        dataTable.fnFilter(this.value);
    });
    $('.dataTables_filter').addClass('d-none');

    // Check all
    $(document).on('change', '#checkbox_all', function () {
        if (this.checked) {
            device_table.$('input[type="checkbox"]').each(function () {
                this.checked = true;
            });
        }
        else {
            device_table.$('input[type="checkbox"]').each(function () {
                this.checked = false;
            });
        }
    });

    $("#add_device").on("submit", function () {
        var devices = [];
        device_table.$('input[type="checkbox"]').each(function () {
            devices.push($(this).val());
        });
        // Check if not selected
        if (devices.length == 0) {
            $('.dataTables_scroll').css("border", "1px solid red")
            return false;
        }
        // Clear search result
        device_table.search('').columns().search('').draw();
    })

    $("input[type='checkbox']").change(function () {
        if (this.checked) {
            $('.dataTables_scroll').css("border", "1px solid #ccc")
        }
    });
</script>