@model HES.Web.Pages.Workstations.IndexModel
@* Top table items *@
<div class="row align-items-center mr-0">
    <div class="col-auto">
        <h1 class="text-navyblue">Workstations</h1>
    </div>
    <div class="col" id="loading"></div>
    <div class="col-auto">
        <button class="btn btn-light p-0" data-toggle="collapse" data-target="#filter-collapse" title="Filter">
            <img style="width:32px;height:32px;" src="~/svg/action/filter.svg" />
        </button>
    </div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<table id="workstations" class="display table table-hover border rounded w-100 disable-selection">
    <thead>
        <tr>
            <th class="d-none"></th>
            <th data-priority="1">
                @Html.DisplayNameFor(model => model.Workstations[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].Domain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].ClientVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].Department.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].LastSeen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].RFID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstations[0].ProximityDevices)
            </th>
            <th data-priority="3">
                @Html.DisplayNameFor(model => model.Workstations[0].Approved)
            </th>
            <th class="table-col-menu" data-priority="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workstations)
        {
            <tr data-id="@item.Id" class="row-dblclick">
                <td class="d-none"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                <td>
                    @if (item.IsOnline)
                    {
                        <span class="badge badge-success" title="Workstation is online">
                            Online
                        </span>
                    }
                    else
                    {
                        <span class="d-none">@TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.LastSeen, TimeZoneInfo.Local).Ticks</span>
                        @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.LastSeen, TimeZoneInfo.Local)
                    }
                </td>
                <td data-sort="@item.RFID">
                    @if (item.RFID)
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">No</span>
                    }
                </td>
                <td>
                    <span class="badge badge-primary">@Html.DisplayFor(modelItem => item.ProximityDevices.Count)</span>
                </td>
                <td data-sort="@item.Approved">
                    @if (item.Approved)
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/svg/action/more.svg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                            @if (!item.Approved)
                            {
                                <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="ApproveWorkstation" data-title="Approve workstation">
                                    <img src="~/svg/action/done.svg" />
                                    Approve
                                </a>
                                <div class="dropdown-divider"></div>
                            }
                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">
                                <img class="icon-devices" style="background:#4E88CE" />
                                Proximity
                            </a>
                            <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="EditWorkstation" data-title="Edit workstation">
                                <img src="~/svg/action/edit.svg" />
                                Edit
                            </a>
                            @if (item.Approved)
                            {
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="UnapproveWorkstation" data-title="Unapprove workstation">
                                    <img src="~/svg/action/clear.svg" />
                                    Unapprove
                                </a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

<script src="~/js/dt-init-workstations.js" asp-append-version="true"></script>