@page
@model HES.Web.Pages.Workstations.IndexModel

@{
    ViewData["Title"] = "Workstations";
    ViewData["ActivePage"] = MenuNavPages.Workstations;
}

<partial name="_ErrorMessage" for="ErrorMessage" />

<div class="row align-items-center mr-0">
    <div class="col">
        <h1 class="text-navyblue">Filter</h1>
    </div>
</div>

<div class="filter-card">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.Name" class="control-label"></label>
                <input id="name" asp-for="WorkstationFilter.Name" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.ClientVersion" class="control-label"></label>
                <input id="clientVersion" asp-for="WorkstationFilter.ClientVersion" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.CompanyId" class="control-label"></label>
                <select id="companyId" asp-for="WorkstationFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="WorkstationFilter.DepartmentId" class="form-control" asp-items="ViewBag.Departments">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.OS" class="control-label"></label>
                <input id="os" asp-for="WorkstationFilter.OS" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.IP" class="control-label"></label>
                <input id="ip" asp-for="WorkstationFilter.IP" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.StartDate" class="control-label"></label>
                <input readonly type="text" id="startDate" asp-for="WorkstationFilter.StartDate" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.EndDate" class="control-label"></label>
                <input readonly type="text" id="endDate" asp-for="WorkstationFilter.EndDate" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationFilter.Approved" class="control-label"></label>
                @*<input id="approved" asp-for="WorkstationFilter.Approved" class="form-control" />*@
                <select id="approved" asp-for="WorkstationFilter.Approved" class="form-control">
                    <option selected></option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    @* Top table items *@
    <div class="row align-items-center mr-0">
        <div class="col-auto">
            <h1 class="text-navyblue">Workstations</h1>
        </div>
        <div class="col" id="loading"></div>
        <div class="col-auto p-1">
            <div class="form-group has-search-right m-0">
                <div class="form-control-feedback">
                    <img class="img-size" src="~/svg/action/search.svg" />
                </div>
                <input id="searchbox" type="text" class="form-control" placeholder="Search">
            </div>
        </div>
    </div>

    <table id="workstations" class="display table table-hover border rounded w-100">
        <thead>
            <tr>
                <th data-priority="1">
                    @Html.DisplayNameFor(model => model.Workstations[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workstations[0].ClientVersion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workstations[0].Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workstations[0].Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workstations[0].OS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workstations[0].IP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workstations[0].LastSeen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workstations[0].Approved)
                </th>
                <th class="table-col-menu" data-priority="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Workstations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientVersion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IP)
                    </td>
                    <td>
                        @if (item.LastSeen != null)
                        {
                            @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.LastSeen, TimeZoneInfo.Local)
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Approved)
                    </td>
                    <td>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/svg/action/more.svg" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="EditDepartment" data-title="Edit">
                                    <img src="~/svg/action/edit.svg" />
                                    Edit
                                </a>
                                @if (item.Approved == false)
                                {
                                    @*<div class="dropdown-divider"></div>*@
                                    <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="ApproveComputer" data-title="Approve computer">
                                        <img src="~/svg/action/done.svg" />
                                        Approve
                                    </a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @* Bottom table items *@
    <div class="row mt-2">
        <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
            <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
            <div id="entries_place"></div>
        </div>
        <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
        <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
    </div>
</div>

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // DatePicker
        $('#startDate').datepicker({
            format: '@ViewBag.DatePattern',
            uiLibrary: 'bootstrap4',
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            format: '@ViewBag.DatePattern',
            uiLibrary: 'bootstrap4',
            minDate: function () {
                return $('#startDate').val();
            }
        });

        // Init DataTables
        var table_name = '#workstations';
        $(table_name).DataTable({
            responsive: true,
            "columnDefs": [
                { "orderable": false, "targets": 8 }
            ]
        });
        var dataTable = $(table_name).dataTable();
        // Search box
        $('#searchbox').keyup(function () {
            dataTable.fnFilter(this.value);
        });
        $('.dataTables_filter').addClass('d-none');
        // Length
        $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
        $('.dataTables_length').addClass('d-none');
        // Info
        $('#showing_place').html($('.dataTables_info'));
        // Paginate
        $('#pagination_place').html($('.dataTables_paginate'));

        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $('#modalDialogTitle').html(title);
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Workstations?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                }
            });
        });

        // Clear content on modal hide
        $('#modalDialog').on('hidden.bs.modal', function (e) {
            $("#modalBody").html("<div class='d-flex justify-content-center align-items-center'><div class='spinner-grow text-primary' style='width: 3rem; height: 3rem;' role='status'><span class='sr-only'></span></div></div>");
        })

        // Dropdown Department
        function GetDepartment(id) {
            $.getJSON('/Workstations?handler=JsonDepartment', { id: id },
                function (data) {
                    var dep = "";
                    $(data).each(function () {
                        dep = dep + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#departments");
                    subList.empty();
                    subList.append(dep);
                });
        }

        // Filter
        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: "/Workstations?handler=FilterWorkstations",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        //Clear filter
        $(document).on('click', '#clearFilter', function () {
            $('#name').val("");
            $('#clientVersion').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#os').val("");
            $('#ip').val("");
            $('#startDate').val("");
            $('#endDate').val("");
            $('#approved').val("");
        });
    </script>
}
