@page
@model web.HES.Pages.Devices.ImportModel
@{
    ViewData["Title"] = "Import";
    ViewData["ActivePage"] = ManageNavPages.Devices;
}

<h1 class="mb-4 text-navyblue">Import devices</h1>

<div class="custom-wide-card">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-gray" asp-for="Input.FileToUpload"></label>
            <div class="custom-file">
                <input asp-for="Input.FileToUpload" type="file" class="custom-file-input">
                <label class="custom-file-label" for="customFile" style="overflow:hidden"></label>
                <span asp-validation-for="Input.FileToUpload" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mb-4">
            <label class="text-gray" asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group m-0 text-right">
            <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            <input type="submit" value="Import" class="btn btn-primary" />
        </div>
    </form>
</div>

@* Devices imported *@
@if (@Model.DevicesImported != null)
{
    <div class="card custom-wide-clear-card">
        <div class="card-header text-white bg-success">
            Such devices are successfully imported in the system (count: @Model.DevicesImported.Count)
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var item in @Model.DevicesImported)
            {
                <li class="list-group-item">@item.Id</li>
            }
        </ul>
    </div>
}

@* Devices exist *@
@if (@Model.DevicesExist != null)
{
    <div class="card custom-wide-clear-card">
        <div class="card-header text-white bg-danger">
            Such devices are exist in the system and not imported (count: @Model.DevicesExist.Count)
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var item in @Model.DevicesExist)
            {
                <li class="list-group-item">@item.Id</li>
            }
        </ul>
    </div>
}

@* Error message *@
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="custom-wide-clear-card">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>@Model.Message</p>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
}