@page
@model web.HES.Pages.Devices.IndexModel

@{
    ViewData["Title"] = "Devices";
    ViewData["ActivePage"] = ManageNavPages.Devices;
}

<h1>Devices</h1>

<div class="d-flex justify-content-start mt-2 mb-2">
    <form method="get">
        <button type="submit" class="btn btn-primary " asp-page="Create">
            Create New
        </button>
    </form>
</div>

<table id="devices" class="display table table-bordered table-hover" style="width:100%">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].MAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].ManufacturerUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].BootLoaderVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].Manufactured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].CpuSerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].DeviceKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].BleDeviceBatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device[0].User)
            </th>
            <th class="action-col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Device)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MAC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BootLoaderVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufactured)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpuSerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BleDeviceBatchId)
                </td>
                <td style="overflow:hidden;white-space: nowrap;  text-overflow: ellipsis;">
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-black-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">
                                <i class="fas fa-pen"></i>
                                <span class="ml-2">Edit</span>
                            </a>
                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#devices').DataTable();
        });
    </script>
}