@page
@model web.HES.Pages.Devices.IndexModel

@{
    ViewData["Title"] = "Devices";
    ViewData["ActivePage"] = MenuNavPages.Devices;
}

<div class="row align-items-center">
    <div class="col">
        <h1 class="text-navyblue">Devices</h1>
    </div>
    <div class="col-auto p-1">
        <div class="form-group m-0 has-search">
            <img class="form-control-feedback" src="~/svg/action/search.svg" />
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="col-auto p-1">
        <a class="btn btn-primary" asp-page="Import">Import</a>
    </div>
</div>

<div class="table-responsive">
    <table id="devices" class="display table table-hover border rounded" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].MAC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].RFID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Battery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Firmware)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].LastSynced)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Employee)
                </th>
                <th class="table-col-menu"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Device)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Battery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firmware)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastSynced)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* Bottom table items *@
<partial name="_DataTablesItemsPartial" />

@section scripts{
    <script>
        // Init DataTables
        var table_name = '#devices';
        $(table_name).DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 8 }
            ]
        });
    </script>
    <partial name="_DataTablesScriptsPartial" />
}