@page
@model web.HES.Pages.Devices.IndexModel

@{
    ViewData["Title"] = "Devices";
    ViewData["ActivePage"] = ManageNavPages.Devices;
}

<div class="row align-items-center">
    <div class="col">
        <h1>Devices</h1>
    </div>
    <div class="col-sm-auto col-12 m-1">
        <div class="input-group">
            <input id="searchbox" type="text" class="form-control" aria-describedby="search" placeholder="Search">
            <div class="input-group-append">
                <span class="input-group-text custom-size" id="search">
                    <img src="~/svg/baseline-search.svg" />
                </span>
            </div>
        </div>
    </div>
    <div class="col-auto m-1">
        <form method="get">
            <button type="submit" class="btn btn-primary" asp-page="Import">
                Import
            </button>
        </form>
    </div>
</div>

<div class="table-responsive1">
    <table id="devices" class="display table table-hover border rounded" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].MAC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].RFID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Battery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Firmware)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].LastSynced)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device[0].Employee)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Device)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Battery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firmware)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastSynced)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td align="right">
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/svg/baseline-more_vertical.svg" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">
                                    <i class="fas fa-pen"></i>
                                    <span class="ml-2">Edit</span>
                                </a>
                                <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* Bottom table items *@
<div class="row align-items-center mb-2">
    <div class="col d-flex justify-content-start">
        <span class=" d-flex align-items-center m-1">Show entries</span>
        <div id="newEntriesPlace"></div>
    </div>
    <div id="newShowingPlace" class="col d-flex justify-content-center"></div>
    <div id="newPaginationPlace" class="col d-flex justify-content-end"></div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            // Init DT
            $('#devices').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 8 }
                ]
            });
            // Override search box
            $('.dataTables_filter').addClass('d-none');
            var dataTable = $('#devices').dataTable();
            $('#searchbox').keyup(function () {
                dataTable.fnFilter(this.value);
            });
            // Length
            $('#devices_length').addClass('d-none');
            $('#newEntriesPlace').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
            // Info
            $('#newShowingPlace').html($('.dataTables_info'));
            // Paginate
            $('#newPaginationPlace').html($('.dataTables_paginate'));


            //$('.table-responsive').on('show.bs.dropdown', function () {
            //    $('.table-responsive').css("overflow", "visible");
            //});

            //$('.table-responsive').on('hide.bs.dropdown', function () {
            //    $('.table-responsive').css("overflow", "auto");
            //})

        });       
    </script>
}