@page
@model HES.Web.Pages.Develop.IndexModel
@{
    ViewData["Title"] = "Develop";
}
<partial name="_ErrorMessage" for="ErrorMessage" />

<div class="row border rounded p-2 mb-3 bg-white">
    <div class="col">
        <h4 class="mb-3">Device Tasks (@Model.DeviceTasks.Count)</h4>
        <div style="max-height:450px; overflow-y:auto">
            <table class="table table-hover border rounded" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DeviceTasks[0].DeviceId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeviceTasks[0].Operation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeviceTasks[0].CreatedAt)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DeviceTasks)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeviceId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Operation)
                            </td>
                            <td>
                                @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.CreatedAt, TimeZoneInfo.Local)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <h4 class="mb-3">Create Test Accounts</h4>
        <form id="createAccount" method="post">
            <div class="form-group">
                <label asp-for="AccountModel.DeviceId" class="control-label"></label>
                <select id="devices" asp-for="AccountModel.DeviceId" class="form-control" asp-items="ViewBag.Devices">
                    <option selected></option>
                </select>
            </div>
            @*<div class="form-group">
                <label asp-for="AccountModel.EmployeeId" class="control-label"></label>
                <select id="employees" asp-for="AccountModel.EmployeeId" class="form-control" asp-items="ViewBag.Employee">
                    <option selected></option>
                </select>
            </div>*@
            <div class="form-group">
                <label class="control-label">Accounts Count (int)</label>
                <input type="text" class="form-control" asp-for="AccountModel.AccountsCount" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreateAccount" />
            </div>
        </form>
    </div>
    <div class="col">
        <h4 class="mb-3">Delete Test Accounts</h4>
        <form method="post">
            <div class="form-group">
                <label asp-for="AccountModel.DeviceId" class="control-label"></label>
                <select id="devices" asp-for="AccountModel.DeviceId" class="form-control" asp-items="ViewBag.Devices">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="DeleteAccount" />
            </div>
        </form>
    </div>
</div>