@model HES.Web.Pages.Settings.DeviceAccessProfiles.IndexModel

<div class="form-group">
    <label asp-for="DeviceAccessProfile.Name" class="control-label text-gray"></label>
    <input asp-for="DeviceAccessProfile.Name" class="form-control text-navyblue readonly-white" readonly />
</div>

<label class="text-gray">Authorization parameters</label>
<table class="table border rounded w-100 disable-selection">
    <thead>
        <tr>
            <th></th>
            <th class="text-center align-middle">
                Bonding
            </th>
            <th class="text-center align-middle">
                Connection
            </th>
            <th class="text-center align-middle">
                New Channel
            </th>
            <th class="text-center align-middle">
                New Link
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Button
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.ButtonBonding" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.ButtonConnection" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.ButtonNewChannel" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.ButtonNewLink" disabled />
            </td>
        </tr>
        <tr>
            <td>
                PIN
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.PinBonding" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.PinConnection" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.PinNewChannel" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.PinNewLink" disabled />
            </td>
        </tr>
        <tr>
            <td>
                Master-key
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.MasterKeyBonding" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.MasterKeyConnection" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.MasterKeyNewChannel" disabled />
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@Model.DeviceAccessProfile.MasterKeyNewLink" disabled />
            </td>
        </tr>
    </tbody>
</table>

<label class="text-gray">PIN settings</label>
<table class="table border rounded w-100 disable-selection">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                PIN expiration
            </td>
            <td class="text-center pr-1">
                <input id="pin_expiration" asp-for="DeviceAccessProfile.PinExpiration" type="text" data-slider-min="1" data-slider-max="1140" data-slider-step="1" data-slider-value="@Model.DeviceAccessProfile.PinExpiration" data-slider-enabled="false" />
            </td>
            <td class="text-center">
                <h6 id="pin_expiration_value"></h6>
            </td>
        </tr>
        <tr>
            <td>
                PIN length
            </td>
            <td class="text-center pr-1">
                <input id="pin_length" asp-for="DeviceAccessProfile.PinLength" type="text" data-slider-min="4" data-slider-max="8" data-slider-step="1" data-slider-value="@Model.DeviceAccessProfile.PinLength" data-slider-enabled="false" />
            </td>
            <td class="text-center">
                <h6 id="pin_length_value"></h6>
            </td>
        </tr>
        <tr>
            <td>
                PIN try count
            </td>
            <td class="text-center pr-1">
                <input id="pin_try_count" asp-for="DeviceAccessProfile.PinTryCount" type="text" data-slider-min="3" data-slider-max="300" data-slider-step="1" data-slider-value="@Model.DeviceAccessProfile.PinTryCount" data-slider-enabled="false" />
            </td>
            <td class="text-center">
                <h6 id="pin_try_count_value"></h6>
            </td>
        </tr>
        <tr>
            <td>
                Button expiration
            </td>
            <td class="text-center pr-1">
                <input id="button_expiration_timeout" asp-for="DeviceAccessProfile.ButtonExpirationTimeout" type="text" data-slider-min="1" data-slider-max="15" data-slider-step="1" data-slider-value="@Model.DeviceAccessProfile.ButtonExpirationTimeout" data-slider-enabled="false" />
            </td>
            <td class="text-center">
                <h6 id="button_expiration_timeout_value" style="width:68px;"></h6>
            </td>
        </tr>
    </tbody>
</table>

<div class="form-group m-0 text-right">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>