@model HES.Web.Pages.Settings.DeviceAccessProfiles.IndexModel

<div class="form-group">
    <h4 class="text-navyblue text-truncate">@Model.DeviceAccessProfile.Name</h4>
</div>
<label class="text-gray">Authorization parameters</label>
<table class="table border rounded w-100 disable-selection">
    <thead>
        <tr>
            <th></th>
            <th class="text-center align-middle">
                Bonding
            </th>
            <th class="text-center align-middle">
                Connection
            </th>
            <th class="text-center align-middle">
                New Channel
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Button
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.ButtonBonding)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.ButtonConnection)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.ButtonNewChannel)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                PIN
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.PinBonding)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.PinConnection)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.PinNewChannel)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                Server Confirmation
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.MasterKeyBonding)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.MasterKeyConnection)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
            <td class="text-center">
                @if (@Model.DeviceAccessProfile.MasterKeyNewChannel)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </td>
        </tr>
    </tbody>
</table>
<div class="form-group">
    <label class="text-gray">PIN settings</label>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            PIN expiration
            <span class="badge badge-primary">@Model.DeviceAccessProfile.PinExpirationString</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            PIN length
            <span class="badge badge-primary">@Model.DeviceAccessProfile.PinLength</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            PIN incorrect entry
            <span class="badge badge-primary">@Model.DeviceAccessProfile.PinTryCount</span>
        </li>
    </ul>
</div>
<div class="text-right">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>