@model HES.Web.Pages.Settings.DeviceAccessProfiles.IndexModel

<div class="row align-items-center mr-0">
    <div class="col-auto">
        <h1 class="text-navyblue">Device Access Profiles</h1>
    </div>
    <div class="col" id="loading"></div>
    <div class="col-auto"></div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="" data-action="CreateProfile" data-title="Create profile">Create Profile</button>
    </div>
</div>

<table id="deviceAccessProfiles" class="display table table-hover border rounded w-100 disable-selection">
    <thead>
        <tr>
            <th class="d-none"></th>
            <th data-priority="1">
                @Html.DisplayNameFor(model => model.DeviceAccessProfiles[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceAccessProfiles[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceAccessProfiles[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceAccessProfiles[0].Devices)
            </th>
            <th class="table-col-menu" data-priority="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeviceAccessProfiles)
        {
            <tr data-id="@item.Id" class="row-dblclick">
                <td class="d-none"></td>
                <td class="cell-ellipsis">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <span class="d-none">@TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.CreatedAt, TimeZoneInfo.Local).Ticks</span>
                    @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.CreatedAt, TimeZoneInfo.Local)
                </td>
                <td>
                    @if (item.UpdatedAt != null)
                    {
                        @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.UpdatedAt, TimeZoneInfo.Local)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Devices.Count)
                </td>
                <td>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/svg/action/more.svg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="EditProfile" data-title="Edit device access profile">
                                <img src="~/svg/action/edit.svg" />
                                Edit
                            </a>
                            @if (item.Id != "default")
                            {
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="DeleteProfile" data-title="Delete device access profile">
                                    <img src="~/svg/action/delete.svg" />
                                    Delete
                                </a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>