@page
@model HES.Web.Pages.Settings.DeviceAccessProfiles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeviceAccessProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonBonding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.ButtonBonding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonConnection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.ButtonConnection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonNewChannel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.ButtonNewChannel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonNewLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.ButtonNewLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinBonding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.PinBonding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinConnection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.PinConnection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinNewChannel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.PinNewChannel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinNewLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.PinNewLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyBonding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.MasterKeyBonding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyConnection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.MasterKeyConnection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyNewChannel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.MasterKeyNewChannel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyNewLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.MasterKeyNewLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinExpiration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.PinExpiration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.PinLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinTryCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.PinTryCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonExpirationTimeout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccessProfile.ButtonExpirationTimeout)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DeviceAccessProfile.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
