@page
@model HES.Web.Pages.Settings.DeviceAccessProfiles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DeviceAccessProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeviceAccessProfile.Id" />
            <div class="form-group">
                <label asp-for="DeviceAccessProfile.Name" class="control-label"></label>
                <input asp-for="DeviceAccessProfile.Name" class="form-control" />
                <span asp-validation-for="DeviceAccessProfile.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccessProfile.CreatedAt" class="control-label"></label>
                <input asp-for="DeviceAccessProfile.CreatedAt" class="form-control" />
                <span asp-validation-for="DeviceAccessProfile.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccessProfile.UpdatedAt" class="control-label"></label>
                <input asp-for="DeviceAccessProfile.UpdatedAt" class="form-control" />
                <span asp-validation-for="DeviceAccessProfile.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.ButtonBonding" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonBonding)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.ButtonConnection" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonConnection)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.ButtonNewChannel" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonNewChannel)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.ButtonNewLink" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.ButtonNewLink)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.PinBonding" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinBonding)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.PinConnection" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinConnection)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.PinNewChannel" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinNewChannel)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.PinNewLink" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.PinNewLink)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.MasterKeyBonding" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyBonding)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.MasterKeyConnection" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyConnection)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.MasterKeyNewChannel" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyNewChannel)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeviceAccessProfile.MasterKeyNewLink" /> @Html.DisplayNameFor(model => model.DeviceAccessProfile.MasterKeyNewLink)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccessProfile.PinExpiration" class="control-label"></label>
                <input asp-for="DeviceAccessProfile.PinExpiration" class="form-control" />
                <span asp-validation-for="DeviceAccessProfile.PinExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccessProfile.PinLength" class="control-label"></label>
                <input asp-for="DeviceAccessProfile.PinLength" class="form-control" />
                <span asp-validation-for="DeviceAccessProfile.PinLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccessProfile.PinTryCount" class="control-label"></label>
                <input asp-for="DeviceAccessProfile.PinTryCount" class="form-control" />
                <span asp-validation-for="DeviceAccessProfile.PinTryCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceAccessProfile.ButtonExpirationTimeout" class="control-label"></label>
                <input asp-for="DeviceAccessProfile.ButtonExpirationTimeout" class="form-control" />
                <span asp-validation-for="DeviceAccessProfile.ButtonExpirationTimeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
