@model HES.Web.Pages.Employees.DetailsModel

<form method="post" id="add_shared_acc_form">
    <input type="hidden" value="@ViewBag.EmployeeId" name="employeeId" />
    <div class="form-group">
        <label asp-for="SharedAccount.Name" class="control-label text-gray"></label>
        <select asp-for="SharedAccount.Id" onchange="GetSharedAccount(this.value)" class="form-control text-navyblue" asp-items="ViewBag.SharedAccountId" name="sharedAccountId"></select>
    </div>
    <div class="form-group">
        <label asp-for="SharedAccount.Login" class="control-label text-gray"></label>
        <input asp-for="SharedAccount.Login" id="SharedAccountLogin" class="form-control text-navyblue" disabled />
    </div>
    <div class="form-group">
        <label asp-for="SharedAccount.Urls" class="control-label text-gray"></label>
        <input asp-for="SharedAccount.Urls" id="SharedAccountUrls" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="SharedAccount.Apps" class="control-label text-gray"></label>
        <input asp-for="SharedAccount.Apps" id="SharedAccountApps" class="form-control" disabled />
    </div>
    <div class="row">
        <div class="form-group col mb-4">
            @if (Model.Devices.Count > 1)
            {
                <label class="control-label text-gray">Choose device</label>
                <ul class="list-group">
                    @foreach (var device in Model.Devices)
                    {
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="SelectedDevices" class="custom-control-input" id="p_@device.Id" value="@device.Id">
                                <label class="custom-control-label" for="p_@device.Id">@device.Id</label>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <input hidden name="selectedDevices" value="@Model.Devices.FirstOrDefault().Id">
            }
        </div>
    </div>
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="AddSharedAccount" />
    </div>
</form>

<script>
    $("#add_shared_acc_form").on("submit", function () {
        var devices = [];
        $.each($("input[name='SelectedDevices']:checked"), function () {
            devices.push($(this).val());
        });
        if (devices.length == 0 && @Model.Devices.Count > 1) {
            $('.list-group-item').css({ "border": "1px solid red" })
            return false;
        }
    })

    $("input[type='checkbox']").change(function () {
        if (this.checked) {
            $('.list-group-item').css("border", "1px solid rgba(0, 0, 0, 0.125)")
        }
    });
</script>