@model HES.Web.Pages.Employees.DetailsModel

<div class="row">
    <div class="col">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="devices_searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Employee.Id" name="id" />
    <table id="devices" class="display table table-hover inside-scrollbar" style="width:100%;">
        <thead>
            <tr>
                <th class="table-col-menu">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" onchange="checkAll(this)">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Devices.FirstOrDefault().Id)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model.Devices)
            {
                <tr>
                    <td class="table-col-menu">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="SelectedDevices" class="custom-control-input" id="@device.Id" value="@device.Id">
                            <label class="custom-control-label" for="@device.Id"></label>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => device.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="AddDevice" />
    </div>
</form>