@model HES.Web.Pages.Employees.DetailsModel

<form method="post" id="add_personal_acc_form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="DeviceAccount.EmployeeId" value="@ViewBag.EmployeeId" />
    <div class="row align-items-center">
        <div class="col-auto pr-0">
            <h6 class="text-navyblue m-0">Enter data manually or select from the template:</h6>
        </div>
        <div class="col-auto">
            <select onchange="GetTemplate(this.value)" class="form-control text-navyblue" asp-items="ViewBag.Templates">
                <option disabled selected></option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group col">
            <label asp-for="DeviceAccount.Name" class="control-label text-gray"></label>
            <input id="PersonalAccName" asp-for="DeviceAccount.Name" class="form-control text-navyblue" autocomplete="new-password" tabindex="1" />
            <span asp-validation-for="DeviceAccount.Name" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="DeviceAccount.Login" class="control-label text-gray"></label>
            <input asp-for="DeviceAccount.Login" class="form-control text-navyblue" autocomplete="new-password" tabindex="4" />
            <span asp-validation-for="DeviceAccount.Login" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="DeviceAccount.Urls" class="control-label text-gray"></label>
            <input id="PersonalAccUrls" asp-for="DeviceAccount.Urls" class="form-control" data-role="tagsinput" autocomplete="new-password" tabindex="2" />
            <span asp-validation-for="DeviceAccount.Urls" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Input.Password" class="text-gray"></label>
            <input asp-for="Input.Password" class="form-control text-navyblue" autocomplete="new-password" tabindex="5" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="DeviceAccount.Apps" class="control-label text-gray"></label>
            <input id="PersonalAccApps" asp-for="DeviceAccount.Apps" class="form-control" data-role="tagsinput" autocomplete="new-password" tabindex="3" />
            <span asp-validation-for="DeviceAccount.Apps" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Input.ConfirmPassword" class="text-gray"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control text-navyblue" autocomplete="new-password" tabindex="6" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="Input.OtpSecret" class="control-label text-gray"></label>
            <input asp-for="Input.OtpSecret" class="form-control text-navyblue" autocomplete="new-password" tabindex="7" />
            <span asp-validation-for="Input.OtpSecret" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col mb-4">
            @if (Model.Devices.Count > 1)
            {
                <label class="control-label text-gray">Choose device</label>
                <ul class="list-group">
                    @foreach (var device in Model.Devices)
                    {
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="selectedDevices" class="custom-control-input" id="p_@device.Id" value="@device.Id">
                                <label class="custom-control-label" for="p_@device.Id">@device.Id</label>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <input hidden name="SelectedDevices" value="@Model.Devices.FirstOrDefault().Id">
            }
        </div>
    </div>
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreatePersonalAccount" />
    </div>
</form>
<script>
    $("#add_personal_acc_form").on("submit", function () {
        var devices = [];
        $.each($("input[name='selectedDevices']:checked"), function () {
            devices.push($(this).val());
        });
        if (devices.length == 0 && @Model.Devices.Count > 1) {
            $('.list-group-item').css({ "border": "1px solid red" })
            return false;
        }
    })

    $("input[type='checkbox']").change(function () {
        if (this.checked) {
            $('.list-group-item').css("border", "1px solid rgba(0, 0, 0, 0.125)")
        }
    });
</script>