@model HES.Web.Pages.Employees.DetailsModel

<ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-webapp-tab" data-toggle="pill" href="#pills-webapp" role="tab" aria-controls="pills-home" aria-selected="true">Web/App account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-workstation-tab" data-toggle="pill" href="#pills-workstation" role="tab" aria-controls="pills-profile" aria-selected="false">Windows account</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-webapp" role="tabpanel" aria-labelledby="pills-webapp-tab">
        <form method="post" id="add_personal_acc_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeviceAccount.EmployeeId" value="@ViewBag.EmployeeId" />
            <div class="row align-items-center">
                <div class="col-auto pr-0">
                    <h6 class="text-navyblue m-0">Enter data manually or select from the template:</h6>
                </div>
                <div class="col">
                    <select onchange="GetTemplate(this.value)" class="form-control text-navyblue" asp-items="ViewBag.Templates">
                        <option disabled selected></option>
                    </select>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col">
                    <label asp-for="DeviceAccount.Name" class="control-label text-gray"></label>
                    <input id="PersonalAccName" asp-for="DeviceAccount.Name" class="form-control text-navyblue" autocomplete="new-password" tabindex="1" />
                    <span asp-validation-for="DeviceAccount.Name" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="DeviceAccount.Login" class="control-label text-gray"></label>
                    <input asp-for="DeviceAccount.Login" class="form-control text-navyblue" autocomplete="new-password" tabindex="4" />
                    <span asp-validation-for="DeviceAccount.Login" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="DeviceAccount.Urls" class="control-label text-gray"></label>
                    <input id="PersonalAccUrls" asp-for="DeviceAccount.Urls" class="form-control" autocomplete="new-password" tabindex="2" />
                    <span asp-validation-for="DeviceAccount.Urls" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="AccountPassword.Password" class="text-gray"></label>
                    <input asp-for="AccountPassword.Password" class="form-control text-navyblue" autocomplete="new-password" tabindex="5" />
                    <span asp-validation-for="AccountPassword.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="DeviceAccount.Apps" class="control-label text-gray"></label>
                    <input id="PersonalAccApps" asp-for="DeviceAccount.Apps" class="form-control" autocomplete="new-password" tabindex="3" />
                    <span asp-validation-for="DeviceAccount.Apps" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="AccountPassword.ConfirmPassword" class="text-gray"></label>
                    <input asp-for="AccountPassword.ConfirmPassword" class="form-control text-navyblue" autocomplete="new-password" tabindex="6" />
                    <span asp-validation-for="AccountPassword.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="AccountPassword.OtpSecret" class="control-label text-gray"></label>
                    <input asp-for="AccountPassword.OtpSecret" class="form-control text-navyblue" autocomplete="new-password" tabindex="7" />
                    <span asp-validation-for="AccountPassword.OtpSecret" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col mb-4">
                    @if (Model.Devices.Count > 1)
                    {
                        <label class="control-label text-gray">Choose device</label>
                        <ul class="list-group">
                            @foreach (var device in Model.Devices)
                            {
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="selectedDevices" class="custom-control-input" id="p_@device.Id" value="@device.Id">
                                        <label class="custom-control-label" for="p_@device.Id">@device.Id</label>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <input hidden name="SelectedDevices" value="@Model.Devices.FirstOrDefault().Id">
                    }
                </div>
            </div>
            <div class="form-group m-0 text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreatePersonalAccount" />
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="pills-workstation" role="tabpanel" aria-labelledby="pills-workstation-tab">
        <form method="post" style="max-width:368px; position:relative; left:50%; transform:translateX(-50%);">
            <input type="hidden" value="@ViewBag.EmployeeId" name="employeeId" />
            <div class="form-group">
                <label asp-for="WorkstationAccount.Name" class="text-gray"></label>
                <input asp-for="WorkstationAccount.Name" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.AccountType" class="text-gray"></label>
                <select id="workstation_account_type" asp-for="WorkstationAccount.AccountType" class="form-control" asp-items="ViewBag.WorkstationAccountType"></select>
            </div>
            <div id="domain_group" class="form-group d-none">
                <label asp-for="WorkstationAccount.Domain" class="text-gray"></label>
                <input id="domain" asp-for="WorkstationAccount.Domain" value="doamin" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.Login" class="text-gray"></label>
                <input id="login" asp-for="WorkstationAccount.Login" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.Password" class="text-gray"></label>
                <input asp-for="WorkstationAccount.Password" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkstationAccount.ConfirmPassword" class="text-gray"></label>
                <input asp-for="WorkstationAccount.ConfirmPassword" class="form-control text-navyblue" autocomplete="new-password" />
                <span asp-validation-for="WorkstationAccount.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                @if (Model.Devices.Count > 1)
                {
                    <label class="control-label text-gray">Choose device</label>
                    <ul class="list-group">
                        @foreach (var device in Model.Devices)
                        {
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectedDevicesW" class="custom-control-input" id="pw_@device.Id" value="@device.Id">
                                    <label class="custom-control-label" for="pw_@device.Id">@device.Id</label>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <input hidden name="SelectedDevicesW" value="@Model.Devices.FirstOrDefault().Id">
                }
            </div>
            <div class="form-group m-0 text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreatePersonalWorkstationAccount" />
            </div>
        </form>
    </div>
</div>


<script>
    $("#add_personal_acc_form").on("submit", function () {
        var devices = [];
        $.each($("input[name='selectedDevices']:checked"), function () {
            devices.push($(this).val());
        });
        if (devices.length == 0 && @Model.Devices.Count > 1) {
            $('.list-group-item').css({ "border": "1px solid red" })
            return false;
        }
    })

    $("input[type='checkbox']").change(function () {
        if (this.checked) {
            $('.list-group-item').css("border", "1px solid rgba(0, 0, 0, 0.125)")
        }
    });

    $(document).on('change', '#workstation_account_type', function () {
        if ($(this).find('option:selected').text() === 'Domain') {
            $('#domain').val("");
            $('#domain_group').removeClass("d-none");
        }
        else {
            $('#domain_group').addClass("d-none");
            $('#domain').val("domain");
        }
    });
</script>