@model HES.Web.Pages.Employees.IndexModel

<div class="row align-items-center mr-0">
    <div class="col-auto">
        <h1 class="text-navyblue">Employees</h1>
    </div>
    <div class="col" id="loading"></div>
    <div class="col-auto">
        <button class="btn btn-light p-0" data-toggle="collapse" data-target="#filter-collapse" title="Filter">
            <img style="width:32px;height:32px;" src="~/svg/action/filter.svg" />
        </button>
    </div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="" data-action="CreateEmployee" data-title="Create employee">
            Create employee
        </button>
    </div>
</div>

<table id="employees" class="display table table-hover border rounded w-100 disable-selection">
    <thead>
        <tr>
            <th class="d-none"></th>
            <th data-priority="1">
                @Html.DisplayNameFor(model => model.Employees[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Department.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].LastSeen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Devices)
            </th>
            <th class="table-col-menu" data-priority="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr data-id="@item.Id" class="row-dblclick">
                <td class="d-none"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.Name)
                </td>
                <td>
                    @if (item.LastSeen != null)
                    {
                        <span class="d-none">@TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.LastSeen, TimeZoneInfo.Local).Ticks</span>
                        @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.LastSeen, TimeZoneInfo.Local)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Devices.Count)
                </td>
                <td>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/svg/action/more.svg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">
                                <img src="~/svg/action/details.svg" />
                                Details
                            </a>
                            <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="EditEmployee" data-title="Edit employee">
                                <img src="~/svg/action/edit.svg" />
                                Edit
                            </a>
                            <a class="dropdown-item open-modal-dialog" data-id="@item.Id" data-action="DeleteEmployee" data-title="Delete employee">
                                <img src="~/svg/action/delete.svg" />
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

<script src="~/js/dt-init-employees.js"></script>