@page
@model HES.Web.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["ActivePage"] = MenuNavPages.Employees;
}

<partial name="_SuccessMessage" for="SuccessMessage" />
<partial name="_ErrorMessage" for="ErrorMessage" />

@* Employee items *@
<div class="row align-items-center details-card">
    <div class="col-auto">
        <h1 class="text-navyblue m-0">@Model.Employee.FullName</h1>
    </div>
    <div class="col"></div>
    <div class="col-auto pl-1 pr-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="@Model.Employee.Id" data-action="AddDevice" data-title="Add device">
            Add device
        </button>
    </div>
    <div class="col-auto pl-1 pr-1">
        <button id="personal_acc" type="button" class="btn btn-primary open-modal-dialog" data-id="@Model.Employee.Id" data-action="CreatePersonalAccount" data-title="Create personal account" data-type="Account">
            Create personal account
        </button>
    </div>
    <div class="col-auto pl-1">
        <button id="shared_acc" type="button" class="btn btn-primary open-modal-dialog" data-id="@Model.Employee.Id" data-action="AddSharedAccount" data-title="Add shared account">
            Add shared account
        </button>
    </div>
</div>

@*SAML IdP*@
<div class="@((Model.SamlIdentityProviderEnabled == true && Model.Employee.Devices.Count > 0) ? "" : "d-none")">
    <h4 class="text-navyblue mb-2 mt-3">SAML IdP Account</h4>
    <form method="post" class="samlidp-card">
        <input type="hidden" asp-for="Employee.Id" />
        <input type="hidden" asp-for="Employee.Email" />
        <input type="hidden" asp-for="Employee.FirstName" />
        <input type="hidden" asp-for="Employee.LastName" />
        <div class="d-flex flex-row">
            <div class="d-inline-flex align-self-center mr-3">
                <label class="control-label mb-0 mr-2">Enable</label>
                <div class="custom-control custom-switch">
                    <input id="idpEnabled" type="checkbox" class="custom-control-input" checked="@Model.UserSamlIdpEnabled">
                    <label class="custom-control-label" for="idpEnabled"></label>
                </div>
            </div>

            @if (!Model.UserSamlIdpEnabled)
            {
                <div id="device_group" class="d-none mr-3">
                    <select class="form-control" asp-for="Employee.CurrentDevice" asp-items="ViewBag.Devices"></select>
                </div>
            }
            else
            {
                <div class="mr-3">
                    <input type="submit" value="Reset password" class="btn btn-primary" asp-page-handler="ResetSamlIdentityProvider" />
                </div>
            }
            <div>
                @if (!Model.UserSamlIdpEnabled)
                {
                    <input id="idpSaveBtn" type="submit" value="Save" class="btn btn-primary d-none" asp-page-handler="EnableSamlIdentityProvider" />
                }
                else
                {
                    <input id="idpSaveBtn" type="submit" value="Save" class="btn btn-primary d-none" asp-page-handler="DisableSamlIdentityProvider" />
                }
            </div>
        </div>
    </form>
</div>

@* Devices tables *@
<div id="employeeDeviceAccounts">
    <partial name="_EmployeeDeviceAccounts" />
</div>

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/custom-popover.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script>
        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");
            var type = btn.data("type");

            if (type == "Account") {
                $('.modal-dialog').addClass('modal-lg');
            }
            else {
                $('.modal-dialog').removeClass('modal-lg');
            }

            $('#modalDialogTitle').html(title);
            $('#modalDialog').modal('toggle');

            $.ajax({
                url: "/Employees/Details?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $("#modalBody").html(response);

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                    // Set disabled
                    if ($('#SharedAccountUrls').prop('disabled')) {
                        $(".bootstrap-tagsinput > input").prop("disabled", true);
                        $(".bootstrap-tagsinput > input").css("width", "1px");
                        $(".bootstrap-tagsinput").addClass("tagsinput-disabled");
                    }
                }
            });
        });

        // Clear content on modal hide
        $('#modalDialog').on('hidden.bs.modal', function (e) {
            $("#modalBody").html("<div class='d-flex justify-content-center align-items-center'><div class='spinner-grow text-primary' style='width: 3rem; height: 3rem;' role='status'><span class='sr-only'></span></div></div>");
        })

        // Dropdown SharedAccount
        function GetSharedAccount(id) {
            $.getJSON('/Employees/Details?handler=JsonSharedAccount', { id: id },
                function (data) {
                    $('#SharedAccountName').val(data.name);
                    $('#SharedAccountUrls').val(data.urls);
                    $('#SharedAccountApps').val(data.apps);
                    $('#SharedAccountLogin').val(data.login);
                });
        }

        // Dropdown Template
        function GetTemplate(id) {
            $.getJSON('/Employees/Details?handler=JsonTemplate', { id: id },
                function (data) {
                    $('#PersonalAccName').val(data.name);
                    $('#PersonalAccUrls').val(data.urls);
                    $('#PersonalAccApps').val(data.apps);
                });
        }

        // Dropdown Department
        function GetDepartment(id) {
            $.getJSON('/Employees/Details?handler=JsonDepartment', { id: id },
                function (data) {
                    var dep = "";
                    $(data).each(function () {
                        dep = dep + '<option value="' + this.id + '">' + this.name + '</option>'
                    });
                    var subList = $("#departments");
                    subList.empty();
                    subList.append(dep);
                });
        }

        // Set DataTables
        SetDT();
        function SetDT() {
            $("table").each(function () {
                var currentTable = $(this);
                var currentId = currentTable.attr('id');

                if (currentId != 'undefined') {
                    $('#' + currentId).DataTable({
                        responsive: true,
                        "order": [[1, "asc"]],
                        "columnDefs": [
                            { "orderable": false, "targets": [0, 12] }
                        ]
                    });

                    var dataTable = $('#' + currentId).dataTable();
                    // Search box
                    $('#searchbox_' + currentId).keyup(function () {
                        dataTable.fnFilter(this.value);
                    });
                    $('.dataTables_filter').addClass('d-none');
                    // Length
                    $('#entries_place_' + currentId).html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
                    $('.dataTables_length').addClass('d-none');
                    // Info
                    $('#showing_place_' + currentId).html($('#' + currentId + '_info'));
                    // Paginate
                    $('#pagination_place_' + currentId).html($('#' + currentId + '_paginate'));
                }
            });
        }

        // SAML IdP
        $(document).on("change", "#idpEnabled", function () {

            var enabled = '@Model.UserSamlIdpEnabled';

            if (enabled === 'False') {
                if (this.checked) {
                    $('#device_group').removeClass('d-none');
                    $('#idpSaveBtn').removeClass('d-none');
                }
                else {
                    $('#device_group').addClass('d-none');
                    $('#idpSaveBtn').addClass('d-none');
                }
            }
            else {
                if (this.checked) {
                    $('#idpSaveBtn').addClass('d-none');
                }
                else {
                    $('#idpSaveBtn').removeClass('d-none');
                }
            }
        });

        $(document).ready(function () {
            // Set btn disable if device count 0
            if (@Model.Employee.Devices.Count() == 0) {
                $('#personal_acc').attr("disabled", true);
                $('#shared_acc').attr("disabled", true);
            }
            // Enable tooltip
            $('[data-toggle="tooltip"]').tooltip();
            // Breadcrumb
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item"><a href="/Employees">Employees</a></li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">@Model.Employee.FullName</li>');
        });

        // Get url parameter by name
        function GetUrlParam (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        // SignalR
        var connection = new signalR.HubConnectionBuilder().withUrl("/employeeDetailsHub").build();
        connection.start();
        connection.on("UpdateTable", function (id) {
            var currentId = GetUrlParam('id');
            if (currentId == id) {
                $.ajax({
                    url: "/Employees/Details?handler=UpdateTable",
                    type: "Get",
                    data: { id: id },
                    async: true,
                    success: function (response) {
                        $("#employeeDeviceAccounts").html(response);
                        SetDT();
                    }
                });
            }
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}