@model HES.Web.Pages.Logs.IndexModel
@{
    int infoCount = 0;
    int debugCount = 0;
    int warnCount = 0;
    int errorCount = 0;
    int fatalCount = 0;
}
<table id="logs" class="display table table-hover border rounded m-0 w-100" style="table-layout:fixed; margin:0px !important">
    <thead>
        <tr>
            <th style="width:170px;">
                @Html.DisplayNameFor(model => model.SelectedLog[0].Date)
            </th>
            <th style="width:50px;">
                @Html.DisplayNameFor(model => model.SelectedLog[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedLog[0].Logger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedLog[0].Message)
            </th>
            <th style="width:60px;">
                @Html.DisplayNameFor(model => model.SelectedLog[0].Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedLog[0].Url)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SelectedLog)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @{
                        switch (item.Level)
                        {
                            case "INFO":
                                <span class="badge badge-success">@item.Level</span>
                                infoCount++;
                                break;
                            case "DEBUG":
                                <span class="badge badge-info">@item.Level</span>
                                debugCount++;
                                break;
                            case "WARN":
                                <span class="badge badge-warning">@item.Level</span>
                                warnCount++;
                                break;
                            case "ERROR":
                                <span class="badge badge-danger">@item.Level</span>
                                errorCount++;
                                break;
                            case "FATAL":
                                <span class="badge badge-dark">@item.Level</span>
                                fatalCount++;
                                break;
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logger)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Initialize logs table
    $('#logs').DataTable({
        "paging": false,
        "info": false,
        "order": [[0, "desc"]]
    });
    var dataTable = $('#logs').dataTable();
    $('#searchbox').keyup(function () {
        dataTable.fnFilter(this.value);
    });
    $('.dataTables_filter').addClass('d-none');

    // Show details of logs
    $('#logs tbody tr').click(function () {
        var currentRow = $(this).closest("tr");
        var date = currentRow.find("td:eq(0)").html();
        var level = currentRow.find("td:eq(1)").text();
        var logger = currentRow.find("td:eq(2)").html();
        var message = currentRow.find("td:eq(3)").html();
        var method = currentRow.find("td:eq(4)").html();
        var url = currentRow.find("td:eq(5)").html();
        SetText(date, level, logger, message, method, url);
    });

    function SetText(date, level, logger, message, method, url) {
        $('#date').text(date);
        $('#level').text(level);
        $('#logger').text(logger);
        $('#message').text(message);
        $('#method').text(method);
        $('#url').text(url);
        $('#modalView').modal('toggle');
    }

    // Set level info
    $('#infoLabel').html(@infoCount);
    $('#debugLabel').html(@debugCount);
    $('#warnLabel').html(@warnCount);
    $('#errorLabel').html(@errorCount);
    $('#fatalLabel').html(@fatalCount);
</script>