@model web.HES.Pages.Employees.DetailsModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="DeviceAccount.EmployeeId" name="id" />
    <div class="row">
        <div class="form-group col">
            <label asp-for="DeviceAccount.Name" class="control-label"></label>
            <input asp-for="DeviceAccount.Name" class="form-control" />
            <span asp-validation-for="DeviceAccount.Name" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="DeviceAccount.Login" class="control-label"></label>
            <input asp-for="DeviceAccount.Login" class="form-control" />
            <span asp-validation-for="DeviceAccount.Login" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="DeviceAccount.Urls" class="control-label"></label>
            <input asp-for="DeviceAccount.Urls" class="form-control" />
            <span asp-validation-for="DeviceAccount.Urls" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Input.Password" class="text-gray"></label>
            <input asp-for="Input.Password" class="form-control text-navyblue" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="DeviceAccount.Apps" class="control-label"></label>
            <input asp-for="DeviceAccount.Apps" class="form-control" />
            <span asp-validation-for="DeviceAccount.Apps" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Input.ConfirmPassword" class="text-gray"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control text-navyblue" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="Input.OtpSecret" class="control-label text-gray"></label>
            <input asp-for="Input.OtpSecret" class="form-control text-navyblue" />
            <span asp-validation-for="Input.OtpSecret" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="devices" class="display table table-hover inside-scrollbar" style="width:100%;">
                <thead>
                    <tr>
                        <th class="table-col-menu">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" onchange="checkAll(this)">
                                <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.Devices.FirstOrDefault().Id)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model.Devices)
                    {
                        <tr>
                            <td class="table-col-menu">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="SelectedDevices" class="custom-control-input" id="@device.Id" value="@device.Id">
                                    <label class="custom-control-label" for="@device.Id"></label>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => device.Id)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>




    @*<div class="form-group">
            <label asp-for="DeviceAccount.Type" class="control-label"></label>
            <select asp-for="DeviceAccount.Type" class="form-control"></select>
            <span asp-validation-for="DeviceAccount.Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeviceAccount.Status" class="control-label"></label>
            <select asp-for="DeviceAccount.Status" class="form-control"></select>
            <span asp-validation-for="DeviceAccount.Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeviceAccount.LastSyncedAt" class="control-label"></label>
            <input asp-for="DeviceAccount.LastSyncedAt" class="form-control" />
            <span asp-validation-for="DeviceAccount.LastSyncedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeviceAccount.CreatedAt" class="control-label"></label>
            <input asp-for="DeviceAccount.CreatedAt" class="form-control" />
            <span asp-validation-for="DeviceAccount.CreatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeviceAccount.PasswordUpdatedAt" class="control-label"></label>
            <input asp-for="DeviceAccount.PasswordUpdatedAt" class="form-control" />
            <span asp-validation-for="DeviceAccount.PasswordUpdatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeviceAccount.OtpUpdatedAt" class="control-label"></label>
            <input asp-for="DeviceAccount.OtpUpdatedAt" class="form-control" />
            <span asp-validation-for="DeviceAccount.OtpUpdatedAt" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="DeviceAccount.Deleted" /> @Html.DisplayNameFor(model => model.DeviceAccount.Deleted))
            </label>
        </div>*@
    @*<div class="form-group">
            <label asp-for="DeviceAccount.EmployeeId" class="control-label"></label>
            <select asp-for="DeviceAccount.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
        </div>
        <div class="form-group">
            <label asp-for="DeviceAccount.DeviceId" class="control-label"></label>
            <select asp-for="DeviceAccount.DeviceId" class="form-control" asp-items="ViewBag.DeviceId"></select>
        </div>
        <div class="form-group">
            <label asp-for="DeviceAccount.SharedAccountId" class="control-label"></label>
            <select asp-for="DeviceAccount.SharedAccountId" class="form-control" asp-items="ViewBag.SharedAccountId"></select>
        </div>*@
    <div class="form-group m-0 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="CreateAccount" />
    </div>
</form>