@page
@model web.HES.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["ActivePage"] = MenuNavPages.Employees;
}

@* Employee items *@
<div class="row align-items-center mb-2">
    <div class="col-auto p-1">
        <h1 class="text-navyblue m-0">@Model.Employee.FullName</h1>
    </div>
    <div class="col-auto p-1">
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/svg/action/more.svg" />
            </a>
            <div class="dropdown-menu dropdown-menu-left shadow" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item open-modal-dialog" data-id="@Model.Employee.Id" data-action="EditEmployee" data-title="Edit employee">
                    <img src="~/svg/action/edit.svg" />
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="@Model.Employee.Id" data-action="AddDevice" data-title="Add device">
            Add device
        </button>
    </div>
    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="" data-action="CreatePersonalAccount" data-title="Create personal account">
            Create personal account
        </button>
    </div>

    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="" data-action="AddSharedAccount" data-title="Add shared account">
            Add shared account
        </button>
    </div>
</div>

@* Employee table *@
<div class="table-responsive">
    <table class="table border rounded">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Department.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.LastSeen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Devices)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Employee.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Employee.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Employee.Department.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Employee.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Employee.Position.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Employee.LastSeen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Employee.Devices.Count)
                </td>
            </tr>
        </tbody>
    </table>
</div>

@* Devices tables *@
@foreach (var device in Model.Employee.Devices)
{
    <div class="row align-items-center m-1">
        <div class="col-auto p-1">
            <h3 class="text-navyblue m-0">@device.Id</h3>
        </div>
        <div class="col-auto p-1">
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="~/svg/action/more.svg" />
                </a>
                <div class="dropdown-menu dropdown-menu-left shadow" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item open-modal-dialog" data-id="@device.Id" data-action="DeleteDevice" data-title="Delete device">
                        <img src="~/svg/action/delete.svg" />
                        Delete
                    </a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row m-1">
        <div class="table-responsive">
            <table id="@device.Id" class="table border rounded" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => device.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => device.MAC)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => device.Model)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => device.RFID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => device.Battery)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => device.Firmware)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => device.LastSynced)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => device.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.MAC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.RFID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.Battery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.Firmware)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.LastSynced)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@* Modal *@
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // Open modal dialog
        $(document).on('click', '.open-modal-dialog', function () {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $.ajax({
                url: "/Employees/Details?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $('#modalDialogTitle').html(title);
                    $("#modalBody").html(response);
                    $('#modalDialog').modal('toggle');

                    InitDevicesTable();

                    // Validation partial view
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                }
            });
        });
        // On submit clear search results
        $(document).on('submit', 'form', function () {
            var table = $('#devices').DataTable();
            table.search('').columns().search('').draw();
        });
        // Init devices
        function InitDevicesTable() {
            var table_name = '#devices';
            $(table_name).DataTable({
                "order": [[1, "asc"]],
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                "lengthMenu": [[5], [5]],
                "scrollY": "246px",
                "paging": false,
                "bInfo": false,
                "bLengthChange": false,
            });
            var dataTable = $(table_name).dataTable();
            // Search box
            $('#devices_searchbox').keyup(function () {
                dataTable.fnFilter(this.value);
            });
            $('.dataTables_filter').addClass('d-none');
        }
        // Check all
        function checkAll(e) {
            var checkboxes = document.getElementsByTagName('input');
            if (e.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = true;
                    }
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    console.log(i)
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = false;
                    }
                }
            }
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}