@model HES.Web.Pages.Audit.WorkstationSummaries.IndexModel
@* Top table items *@
<div class="row align-items-center mr-0">
    <div class="col-auto">
        <h1 class="text-navyblue">Summary</h1>
    </div>
    <div class="col" id="loading"></div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<table id="sessionsSummary" class="display table table-hover border rounded w-100">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].WorkstationsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].WorkingDaysCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].TotalSessionsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].TotalSessionsDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].AvgSessionDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].AvgSessionCountPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].AvgWorkingHoursPerDay)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SummaryByEmployees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkstationsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingDaysCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSessionsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSessionsDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgSessionDuration)
                </td>
                <td>
                    @Math.Round(item.AvgSessionCountPerDay, 1)        
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgWorkingHoursPerDay)
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

<script>
    // Init DataTables
    var table_name = '#sessionsSummary';
    $(table_name).DataTable({
        responsive: true,
    });
    var dataTable = $(table_name).dataTable();
    // Search box
    $('#searchbox').keyup(function () {
        dataTable.fnFilter(this.value);
    });
    $('.dataTables_filter').addClass('d-none');
    // Length
    $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
    $('.dataTables_length').addClass('d-none');
    // Info
    $('#showing_place').html($('.dataTables_info'));
    // Paginate
    $('#pagination_place').html($('.dataTables_paginate'));
</script>