@model HES.Web.Pages.Audit.WorkstationSummaries.IndexModel
@* Top table items *@
<div class="row align-items-center mr-0">
    <div class="col-auto">
        <h1 class="text-navyblue">Summary</h1>
    </div>
    <div class="col" id="loading"></div>
    <div class="col-auto">
        <button class="btn btn-light p-0" data-toggle="collapse" data-target="#filter-collapse" title="Filter">
            <img style="width:32px;height:32px;" src="~/svg/action/filter.svg" />
        </button>
    </div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<table id="sessionsSummary" class="display table table-hover border rounded w-100">
    <thead>
        <tr>
            <th class="d-none"></th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].WorkstationsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].WorkingDaysCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].TotalSessionsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].TotalSessionsDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].AvgSessionsDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].AvgSessionsCountPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryByEmployees[0].AvgWorkingHoursPerDay)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SummaryByEmployees)
        {
            <tr>
                <td class="d-none"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkstationsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingDaysCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSessionsCount)
                </td>
                <td data-order="@item.TotalSessionsDuration.Ticks">
                    @if (item.TotalSessionsDuration.Days != 0)
                    {
                        @item.TotalSessionsDuration.ToString("%d") <span>day(s)</span> @item.TotalSessionsDuration.ToString("hh\\:mm\\:ss")
                    }
                    else
                    {
                        @item.TotalSessionsDuration.ToString("hh\\:mm\\:ss")
                    }
                </td>
                <td data-order="@item.AvgSessionsDuration.Ticks">
                    @if (item.AvgSessionsDuration.Days != 0)
                    {
                        @item.AvgSessionsDuration.ToString("%d") <span>day(s)</span> @item.AvgSessionsDuration.ToString("hh\\:mm\\:ss")
                    }
                    else
                    {
                        @item.AvgSessionsDuration.ToString("hh\\:mm\\:ss")
                    }
                </td>
                <td>
                    @Math.Round(item.AvgSessionsCountPerDay, 1)
                </td>
                <td data-order="@item.AvgWorkingHoursPerDay.Ticks">
                    @if (item.AvgWorkingHoursPerDay.Days != 0)
                    {
                        @item.AvgWorkingHoursPerDay.ToString("%d") <span>day(s)</span> @item.AvgWorkingHoursPerDay.ToString("hh\\:mm\\:ss")
                    }
                    else
                    {
                        @item.AvgWorkingHoursPerDay.ToString("hh\\:mm\\:ss")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

<script src="~/js/dt-init-workstation-summaries.js"></script>