@page
@model HES.Web.Pages.Audit.WorkstationSummaries.IndexModel
@{
    ViewData["Title"] = "Workstation Summaries";
    ViewData["ActivePage"] = MenuNavPages.Audit;
    ViewData["AuditPage"] = AuditNavPages.WorkstationSummaries;
}

<ul class="custom-horizontal-pills nav nav-pills mb-3 nav-fill flex-column flex-md-row" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active summary-tabs" id="by-days-and-employees" data-toggle="pill" href="#" role="tab" aria-selected="true">By days and employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link summary-tabs" id="by-employees" data-toggle="pill" href="#" role="tab" aria-selected="false">By employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link summary-tabs" id="by-departments" data-toggle="pill" href="#" role="tab" aria-selected="false">By departments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link summary-tabs" id="by-workstations" data-toggle="pill" href="#" role="tab" aria-selected="false">By workstations</a>
    </li>
</ul>

<div class="row align-items-center mr-0">
    <div class="col">
        <h1 class="text-navyblue">Filter</h1>
    </div>
</div>

<div class="filter-card">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group date-col">
                <label asp-for="SummaryFilter.StartDate" class="control-label"></label>
                <input readonly type="text" id="startDate" value="@TimeZoneInfo.ConvertTimeFromUtc(ViewBag.StartDate, TimeZoneInfo.Local).ToShortDateString()" asp-for="SummaryFilter.StartDate" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group date-col">
                <label asp-for="SummaryFilter.EndDate" class="control-label"></label>
                <input readonly type="text" id="endDate" value="@TimeZoneInfo.ConvertTimeFromUtc(ViewBag.EndDate, TimeZoneInfo.Local).ToShortDateString()" asp-for="SummaryFilter.EndDate" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group employee-col">
                <label asp-for="SummaryFilter.EmployeeId" class="control-label"></label>
                <select id="employeeId" asp-for="SummaryFilter.EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                    <option selected></option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="SummaryFilter.CompanyId" class="control-label"></label>
                <select id="companyId" asp-for="SummaryFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group department-col">
                <label asp-for="SummaryFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="SummaryFilter.DepartmentId" class="form-control" asp-items="ViewBag.Departments">
                    <option selected></option>
                    <option value="N/A">N/A</option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" data-action="by-days-and-employees" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    @* Top table items *@
    <div class="row align-items-center mr-0">
        <div class="col-auto">
            <h1 class="text-navyblue">Summary</h1>
        </div>
        <div class="col" id="loading"></div>
        <div class="col-auto p-1">
            <div class="form-group has-search-right m-0">
                <div class="form-control-feedback">
                    <img class="img-size" src="~/svg/action/search.svg" />
                </div>
                <input id="searchbox" type="text" class="form-control" placeholder="Search">
            </div>
        </div>
    </div>

    <table id="sessionsSummary" class="display table table-hover border rounded w-100">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].Employee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].WorkstationsCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].AvgSessionDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].SessionCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SummaryByDayAndEmployee[0].TotalSessionDuration)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SummaryByDayAndEmployee)
            {
                <tr>
                    <td>
                        @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.Date, TimeZoneInfo.Local).ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkstationsCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvgSessionDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalSessionDuration)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @* Bottom table items *@
    <div class="row mt-2">
        <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
            <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
            <div id="entries_place"></div>
        </div>
        <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
        <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
    </div>
</div>

@section Scripts{
    <script>
        //DatePicker
        $('#startDate').datepicker({
            format: '@ViewBag.DatePattern',
            uiLibrary: 'bootstrap4',
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            format: '@ViewBag.DatePattern',
            uiLibrary: 'bootstrap4',
            minDate: function () {
                return $('#startDate').val();
            }
        });

        // Init DataTables
        var table_name = '#sessionsSummary';
        $(table_name).DataTable({
            responsive: true,
        });
        var dataTable = $(table_name).dataTable();
        // Search box
        $('#searchbox').keyup(function () {
            dataTable.fnFilter(this.value);
        });
        $('.dataTables_filter').addClass('d-none');
        // Length
        $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
        $('.dataTables_length').addClass('d-none');
        // Info
        $('#showing_place').html($('.dataTables_info'));
        // Paginate
        $('#pagination_place').html($('.dataTables_paginate'));

        // Filter
        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            var action = $('#filterBtn').data("action");
            switch (action) {
                case 'by-days-and-employees':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDaysAndEmployees';
                    break;
                case 'by-employees':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByEmployees';
                    break;
                case 'by-departments':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDepartments';
                    break;
                case 'by-workstations':
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByWorkstations';
                    break;
            }
            $.ajax({
                method: "POST",
                url: url,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        // Clear filter
        $(document).on('click', '#clearFilter', function () {
            //$('#startDate').val("");
            //$('#endDate').val("");
            $('#employeeId').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
        });

        // Tabs click
        $(document).on('click', '.summary-tabs', function () {
            var tab = $(this);
            var id = tab.attr('id');
            switch (id) {
                case 'by-days-and-employees':
                    $('#filterBtn').data("action", "by-days-and-employees");
                    $('.employee-col').removeClass('d-none');
                    $('.department-col').removeClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDaysAndEmployees';
                    break;
                case 'by-employees':
                    $('#filterBtn').data("action", "by-employees");
                    $('.employee-col').addClass('d-none');
                    $('.department-col').removeClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByEmployees';
                    break;
                case 'by-departments':
                    $('#filterBtn').data("action", "by-departments");
                    $('.employee-col').addClass('d-none');
                    $('.department-col').addClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByDepartments';
                    break;
                case 'by-workstations':
                    $('#filterBtn').data("action", "by-workstations");
                    $('.employee-col').removeClass('d-none');
                    $('.department-col').removeClass('d-none');
                    var url = '/Audit/WorkstationSummaries?handler=FilterSummaryByWorkstations';
                    break;
            }
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: url,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Audit</li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Summaries</li>');
        });
    </script>
}