<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HES</title>

    <!-- Bootstrap CSS -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/icon.css" />

</head>
<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="custom-sidebar">
            <partial name="_MainManageNav" />
        </div>
        <!-- Content -->
        <div class="d-flex flex-column custom-main">
            <!-- Nav bar -->
            <nav class="navbar navbar-expand navbar-light bg-white border-bottom box-shadow">

                @{
                    var path = Context.Request.Path.ToString().Split('/');
                    var last = path.Last();
                }
                @*
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-1">
                            @foreach (var item in path)
                            {
                                <li class="breadcrumb-item active" aria-current="page">@item</li>
                            }
                        </ol>
                    </nav>
                *@

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item no-arrow">
                        <a class="nav-link text-dark dropdown-toggle d-inline-flex" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-1">@User.Identity.Name</span>
                            <img src="~/svg/account/round-account_circle.svg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <img src="~/svg/account/round-person.svg" />
                                Profile
                            </a>
                            @*<div class="dropdown-divider"></div>*@
                            <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark p-0" style="text-decoration: none;">
                                    <img src="~/svg/account/round-power-off.svg" />
                                    Logout
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- Main -->
            <div class="custom-content p-4">
                <partial name="_Loading" />
                @RenderBody()
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <!-- DataTebles JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <!-- Main JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- bs-custom-file-input JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.loading').removeClass('d-flex');
            $('.loading').addClass('d-none');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
