<a class="navbar-brand mt-3 mb-3 w-100" asp-area="" asp-page="/Dashboard/Index">
    <img src="~/svg/hideez-full.svg" />
</a>

<ul class="nav nav-pills flex-column" id="accordionSidebar">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.DashboardNavClass(ViewContext)" id="page_dashboard" asp-page="/Dashboard/Index">
            <img src="~/svg/sidebar-dashboard.svg" />
            <span class="page_labels">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmployeesNavClass(ViewContext)" asp-page="/Employees/Index">
            <img src="~/svg/sidebar-employees.svg" />
            <span class="page_labels">Employees</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.DevicesNavClass(ViewContext)" id="page_devices" asp-page="/Devices/Index">
            <img src="~/svg/sidebar-devices.svg" />
            <span class="page_labels">Devices</span>
        </a>
    </li>
    @*
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.SettingsNavClass(ViewContext)" id="page_settings" asp-page="/Settings/Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z" /></svg>
                <span class="page_labels">Settings</span>
            </a>
        </li>
    *@
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.SettingsNavClass(ViewContext)" id="page_settings" data-toggle="collapse" href="#collapseSettings" role="button" aria-expanded="false" aria-controls="collapseSettings">
            <img src="~/svg/sidebar-settings.svg" />
            <span class="page_labels">Settings</span>
        </a>
        <div class="collapse mt-1" id="collapseSettings">
            <div class="card card-body">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link @SettingsNavPages.AdministratorsNavClass(ViewContext)" asp-page="/Settings/Index">
                            <span>Administrators</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @SettingsNavPages.OrgStructureNavClass(ViewContext)" asp-page="/Companies/Index">
                            <span>Companies</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @SettingsNavPages.PositionsNavClass(ViewContext)" asp-page="/Positions/Index">
                            <span>Positions</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @*<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Utilities:</h6>
                    <a class="collapse-item" href="utilities-color.html">Colors</a>
                    <a class="collapse-item" href="utilities-border.html">Borders</a>
                    <a class="collapse-item" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>
                </div>
            </div>*@


    </li>
</ul>