@page "{handler?}"
@model web.HES.Pages.Settings.OrgStructure.IndexModel
@{
    ViewData["Title"] = "Org structure";
    ViewData["ActivePage"] = ManageNavPages.Settings;
    ViewData["SettingsPage"] = SettingsNavPages.OrgStructure;
}

<div class="row align-items-center mb-3">
    <div class="col">
        <h1 class="text-navyblue text-nowrap">Org structure</h1>
    </div>
    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="" data-action="CreateCompany" data-title="Create company">
            Create company
        </button>
    </div>
    <div class="col-auto p-1">
        <button type="button" class="btn btn-primary open-modal-dialog" data-id="" data-action="CreateDepartment" data-title="Create department">
            Create department
        </button>
    </div>
</div>

@foreach (var company in Model.Companies)
{
    <div class="row align-items-center m-1">
        <div class="col-auto p-1">
            <h3 class="text-navyblue m-0">@company.Name</h3>
        </div>
        <div class="col-auto p-1">
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="~/svg/action/more.svg" />
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item open-modal-dialog" data-id="@company.Id" data-action="EditCompany" data-title="Edit company">
                        <img src="~/svg/action/edit.svg" />
                        Edit
                    </a>
                    <a class="dropdown-item open-modal-dialog" data-id="@company.Id" data-action="DeleteCompany" data-title="Delete company">
                        <img src="~/svg/action/delete.svg" />
                        Delete
                    </a>
                </div>
            </div>
        </div>
        <div class="col"></div>
        @*
            <div class="col-auto p-1">
                <div class="form-group m-0 has-search">
                    <img class="form-control-feedback" src="~/svg/action/search.svg" />
                    <input id="searchbox @item.Id" type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        *@
    </div>
    <div class="row m-1">
        <div class="table-responsive">
            <table id="@company.Id" class="display table table-hover border rounded" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Departments[0].Name)
                        </th>
                        <th class="table-col-menu"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var department in Model.Departments.Where(d => d.CompanyId == company.Id))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => department.Name)
                            </td>

                            <td>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/svg/action/more.svg" />
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item open-modal-dialog" data-id="@department.Id" data-action="EditDepartment" data-title="Edit department">
                                            <img src="~/svg/action/edit.svg" />
                                            Edit
                                        </a>
                                        <a class="dropdown-item open-modal-dialog" data-id="@department.Id" data-action="DeleteDepartment" data-title="Delete department">
                                            <img src="~/svg/action/delete.svg" />
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @* Bottom table items *@
    @*
        <div class="row mt-2">
            <div class="col-sm-12 col-md-auto d-flex justify-content-start align-items-center mb-1">
                <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
                <div id="newEntriesPlace @item.Id"></div>
            </div>
            <div id="newShowingPlace @item.Id" class="col-sm-12 col-md d-flex justify-content-md-center align-items-center mb-1 text-navyblue"></div>
            <div id="newPaginationPlace @item.Id" class="col-sm-12 col-md-auto d-flex justify-content-md-end align-items-center mb-1"></div>
        </div>
    *@
}

<!-- Modal -->
<div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue" id="modalDialogTitle">Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on('click', '.open-modal-dialog', function (event) {
            var btn = $(this);
            var id = btn.data("id");
            var action = btn.data("action");
            var title = btn.data("title");

            $.ajax({
                url: "/Settings/OrgStructure?handler=" + action,
                type: "Get",
                data: { id: id },
                async: true,
                success: function (response) {
                    $('#modalDialogTitle').html(title);
                    $("#modalBody").html(response);
                    $('#modalDialog').modal('toggle');
                }
            });
        });

        $(document).ready(function () {

            //$("table").each(function () {
            //    var currentTable = $(this);
            //    var currentId = currentTable.attr('id');
            //    //alert(currentTable.attr('id'))
            //    // Init DT
            //    currentTable.DataTable({
            //        "columnDefs": [
            //            { "orderable": false, "targets": 1 }
            //        ]
            //    });
            //    // Override search box
            //    $('.dataTables_filter').addClass('d-none');
            //    var dataTable = currentTable.dataTable();

            //    $('#searchbox ' + currentId).keyup(function () {
            //        dataTable.fnFilter(this.value);
            //    });


            //    //$(".mysearch").each(function () {
            //    //    var currentSearch = $(this);
            //    //    currentSearch.keyup(function () {
            //    //      dataTable.fnFilter(this.value);
            //    //    });
            //    //})

            //    // Length
            //    $('#' + currentId + '_length').addClass('d-none');
            //    $('#newEntriesPlace' + currentId).html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
            //    // Info
            //    $('#newShowingPlace' + currentId).html($('.dataTables_info'));
            //    // Paginate
            //    $('#newPaginationPlace ' + currentId).html($('.dataTables_paginate'));
            //});

            // $(".mysearch").each(function () {
            //var currentSearch = $(this);
            //currentSearch.keyup(function () {
            //    dataTable.fnFilter(this.value);
            //});
            //})

            //$(".mysearch").each(function () {
            //    var currentSearch = $(this);
            //    //alert(currentSearch);
            //})

            //// Init DT
            //$('#users').DataTable({
            //   "columnDefs": [
            //       { "orderable": false, "targets": 1 }
            //   ]
            //});
            //// Override search box
            //$('.dataTables_filter').addClass('d-none');
            //var dataTable = $('#users').dataTable();
            //$('#searchbox').keyup(function () {
            //    dataTable.fnFilter(this.value);
            //});
            //// Length
            //$('#users_length').addClass('d-none');
            //$('#newEntriesPlace').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
            //// Info
            //$('#newShowingPlace').html($('.dataTables_info'));
            //// Paginate
            //$('#newPaginationPlace').html($('.dataTables_paginate'));
            @*alert('@Model.Company[0].Name');*@
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
