@model HES.Web.Pages.Audit.WorkstationSessions.IndexModel
@* Top table items *@
<div class="row align-items-center mr-0">
    <div class="col-auto">
        <h1 class="text-navyblue">Workstation Sessions</h1>
    </div>
    <div class="col" id="loading"></div>
    <div class="col-auto">
        <button class="btn btn-light p-0" data-toggle="collapse" data-target="#filter-collapse" title="Filter">
            <img style="width:32px;height:32px;" src="~/svg/action/filter.svg" />
        </button>
    </div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<table id="workstationSessions" class="display table table-hover border rounded w-100">
    <thead>
        <tr>
            <th class="d-none"></th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].UnlockedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].Workstation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].UserSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].Department.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].DeviceAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkstationSessions[0].DeviceAccount.Type)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkstationSessions)
        {
            <tr>
                <td class="d-none"></td>
                <td>
                    <span class="d-none">@TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.StartDate, TimeZoneInfo.Local).Ticks</span>
                    @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.StartDate, TimeZoneInfo.Local)
                </td>
                <td>
                    @if (item.EndDate != null)
                    {
                        <span class="d-none">@TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.EndDate, TimeZoneInfo.Local).Ticks</span>
                        @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.EndDate, TimeZoneInfo.Local)
                    }
                    else
                    {
                        <span class="badge badge-success">Active</span>
                    }
                </td>
                <td data-order="@item.Duration.Ticks">
                    @if (item.Duration.Days != 0)
                    {
                        @item.Duration.ToString("%d") <span>day(s)</span> @item.Duration.ToString("hh\\:mm\\:ss")
                    }
                    else
                    {
                        @item.Duration.ToString("hh\\:mm\\:ss")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnlockedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workstation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceAccount.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceAccount.Type)
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bottom table items *@
<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

<script src="~/js/dt-init-workstation-sessions.js"></script>