@page
@model HES.Web.Pages.Audit.WorkstationSessions.IndexModel

@{
    ViewData["Title"] = "Sessions";
    ViewData["ActivePage"] = MenuNavPages.Audit;
    ViewData["AuditPage"] = AuditNavPages.WorkstationSessions;
}

<div class="row align-items-center mr-0">
    <div class="col">
        <h1 class="text-navyblue">Filter</h1>
    </div>
</div>

<div class="filter-card">
    <form method="post" id="filterForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.StartTime" class="control-label"></label>
                <input readonly type="text" id="startTime" value="@TimeZoneInfo.ConvertTimeFromUtc(ViewBag.StartDate, TimeZoneInfo.Local)" asp-for="WorkstationSessionFilter.StartTime" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.EndTime" class="control-label"></label>
                <input readonly type="text" id="endTime" value="@TimeZoneInfo.ConvertTimeFromUtc(ViewBag.EndDate, TimeZoneInfo.Local)" asp-for="WorkstationSessionFilter.EndTime" class="form-control" autocomplete="off" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.Duration" class="control-label"></label>
                <input id="duration" asp-for="WorkstationSessionFilter.Duration" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.UnlockId" class="control-label"></label>
                <select id="unlockId" asp-for="WorkstationSessionFilter.UnlockId" class="form-control" asp-items="ViewBag.UnlockId">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.WorkstationId" class="control-label"></label>
                <select id="workstationId" asp-for="WorkstationSessionFilter.WorkstationId" class="form-control" asp-items="ViewBag.Workstations">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.UserSession" class="control-label"></label>
                <input id="userSession" asp-for="WorkstationSessionFilter.UserSession" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.DeviceId" class="control-label"></label>
                <select id="deviceId" asp-for="WorkstationSessionFilter.DeviceId" class="form-control" asp-items="ViewBag.Devices">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.EmployeeId" class="control-label"></label>
                <select id="employeeId" asp-for="WorkstationSessionFilter.EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.CompanyId" class="control-label"></label>
                <select id="companyId" asp-for="WorkstationSessionFilter.CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.DepartmentId" class="control-label"></label>
                <select id="departmentId" asp-for="WorkstationSessionFilter.DepartmentId" class="form-control" asp-items="ViewBag.Departments">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.DeviceAccountId" class="control-label"></label>
                <select id="deviceAccountId" asp-for="WorkstationSessionFilter.DeviceAccountId" class="form-control" asp-items="ViewBag.DeviceAccounts">
                    <option selected></option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label asp-for="WorkstationSessionFilter.DeviceAccountTypeId" class="control-label"></label>
                <select id="deviceAccountTypeId" asp-for="WorkstationSessionFilter.DeviceAccountTypeId" class="form-control" asp-items="ViewBag.DeviceAccountTypes">
                    <option selected></option>
                </select>
            </div>
            <div class="col align-self-end form-group text-right">
                <div>
                    <button id="clearFilter" type="button" class="btn btn-secondary">Clear</button>
                    <input id="filterBtn" type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="content">
    <partial name="_WorkstationSessionsTable" />
</div>

@section Scripts{
    <script>
        //DateTimePicker
        $('#startTime').datetimepicker({
            format: '@ViewBag.DatePattern @ViewBag.TimePattern',
            uiLibrary: 'bootstrap4',
            footer: true,
            maxDate: function () {
                return $('#endTime').val();
            }
        });
        $('#endTime').datetimepicker({
            format: '@ViewBag.DatePattern @ViewBag.TimePattern',
            uiLibrary: 'bootstrap4',
            footer: true,
            minDate: function () {
                return $('#startTime').val();
            }
        });

        // Init DataTables
        var table_name = '#workstationSessions';
        $(table_name).DataTable({
            responsive: true,
            "order": [[0, "desc"]]
        });
        var dataTable = $(table_name).dataTable();
        // Search box
        $('#searchbox').keyup(function () {
            dataTable.fnFilter(this.value);
        });
        $('.dataTables_filter').addClass('d-none');
        // Length
        $('#entries_place').html($('.dataTables_length select').removeClass('custom-select-sm form-control-sm'));
        $('.dataTables_length').addClass('d-none');
        // Info
        $('#showing_place').html($('.dataTables_info'));
        // Paginate
        $('#pagination_place').html($('.dataTables_paginate'));

        $(document).on('submit', '#filterForm', function (e) {
            e.preventDefault();
            $('#loading').html("<div class='spinner-border text-primary' role='status'></div>");
            $.ajax({
                method: "POST",
                url: "/Audit/WorkstationSessions?handler=FilterWorkstationSessions",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: $('#filterForm').serialize(),
                async: true,
                success: function (response) {
                    $("#content").html(response);
                }
            });
        });

        $(document).on('click', '#clearFilter', function () {
            //$('#startTime').val("");
            //$('#endTime').val("");
            $('#duration').val("");
            $('#unlockId').val("");
            $('#workstationId').val("");
            $('#userSession').val("");
            $('#deviceId').val("");
            $('#employeeId').val("");
            $('#companyId').val("");
            $('#departmentId').val("");
            $('#deviceAccountId').val("");
            $('#deviceAccountTypeId').val("");
        });

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Audit</li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Sessions</li>');
        });
    </script>
}
