@page
@model HES.Web.Pages.Employees.test.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeviceAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Urls)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Urls)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Apps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Apps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.LastSyncedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.LastSyncedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.PasswordUpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.PasswordUpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.OtpUpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.OtpUpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Employee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.Device)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.Device.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceAccount.SharedAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceAccount.SharedAccount.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeviceAccount.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
