@page
@model HES.Web.Pages.Dashboard.DeviceTasksModel
@{
    ViewData["Title"] = "DeviceTasks";
    ViewData["ActivePage"] = MenuNavPages.Dashboard;
}

<div class="row align-items-center mr-0">
    <div class="col">
        <h1 class="text-navyblue">Device Tasks</h1>
    </div>
    <div class="col-auto p-1">
        <div class="form-group has-search-right m-0">
            <div class="form-control-feedback">
                <img class="img-size" src="~/svg/action/search.svg" />
            </div>
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<table id="deviceTasks" class="display table table-hover border rounded w-100">
    <thead>
        <tr>
            <th data-priority="1">
                @Html.DisplayNameFor(model => model.DeviceTasks[0].DeviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceTasks[0].Operation)
            </th>
            <th>
                Created
            </th>
            <th>
                Account Name
            </th>
            <th>
                Employee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceTasks[0].DeviceAccount.Employee.EmpCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceTasks[0].DeviceAccount.Employee.EmpDepartment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeviceTasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceId)
                </td>
                <td>
                    @switch (item.Operation)
                    {
                        case TaskOperation.Create:
                            <span class="badge badge-success">Create</span>
                            break;
                        case TaskOperation.Update:
                            <span class="badge badge-primary">Update</span>
                            break;
                        case TaskOperation.Delete:
                            <span class="badge badge-warning">Delete</span>
                            break;
                        case TaskOperation.Wipe:
                            <span class="badge badge-danger">Wipe</span>
                            break;
                        case TaskOperation.Link:
                            <span class="badge badge-info">Link</span>
                            break;
                        case TaskOperation.Primary:
                            <span class="badge badge-primary">Primary</span>
                            break;
                        case TaskOperation.Profile:
                            <span class="badge badge-secondary">Profile</span>
                            break;
                        case TaskOperation.UnlockPin:
                            <span class="badge badge-warning">UnlockPin</span>
                            break;
                        default:
                            @Html.DisplayFor(modelItem => item.Operation)
                            break;
                    }
                </td>
                <td data-order="@item.CreatedAt.Ticks">
                    @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.CreatedAt, TimeZoneInfo.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceAccount.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceAccount.Employee.EmpCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceAccount.Employee.EmpDepartment)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row mt-2">
    <div class="col d-flex justify-content-center justify-content-lg-start align-items-center mb-1 text-nowrap">
        <span class="d-flex align-items-center mr-1 text-navyblue">Show entries</span>
        <div id="entries_place"></div>
    </div>
    <div id="showing_place" class="col d-flex justify-content-center align-items-center mb-1 text-navyblue text-nowrap"></div>
    <div id="pagination_place" class="col d-flex justify-content-center justify-content-lg-end align-items-center mb-1"></div>
</div>

@section scripts{
    <script>
        InitDeviceTasksDT();

        $(document).ready(function () {
            // Breadcrumbs
            $('#breadcrumb').toggleClass('d-none');
            $('.breadcrumb').append('<li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>');
            $('.breadcrumb').append('<li class="breadcrumb-item active">Device Tasks</li>');
        });
    </script>
}